body{
    background-color: #f4f4f4;
}
#root {
    position: relative;
    margin: 0 auto;
    max-width: 500px;
    min-width: 320px;
    height: 1420px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

div,
footer,
li,
ol,
p,
section,
ul {
    box-sizing: border-box;
}