.sec-hous {
    height: 136px;
    width: 100%;
    border: 1px solid #e4e4e4;
    margin-top: 12px;
    background-color: #ffffff;
    overflow: hidden;
}

.hous {
    width: 2000px;
}

.hous>ol {
    display: flex;
}

.hous>ol>li {
    flex: 1;
}

.hous img {
    width: 22px;
    height: 22px;
}

.hous>ol>li>p:nth-of-type(1) {
    font-size: 12px;
    height: 12px;
    line-height: 12px;
    color: #999;
}

.hous>ol>li>p:nth-of-type(2) {
    font-size: 14px;
    height: 14px;
    line-height: 14px;
    color: #434343;
}